/*variables*/
/*variables*/
/*variables*/
/*variables*/
/*mixins*/
/*mixins*/
.contact {
  background-color: #ff9800;
  padding: 50px 20px;
  text-align: center;
}
.contact p {
  margin: 10px 0;
}

footer {
  background-color: #333;
  color: #f1f1f1;
  text-align: center;
  padding: 20px 0;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #ff9800;
  padding: 0, 25rem;
}
header nav .container a {
  color: #000000;
}
header nav .container a:active {
  transform: scale(1.04);
}

/*header estilos*/
/* Estilos Generales*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*mediaqueries*/
/*mobile*/
@media (max-width: 767px) {
  .main-index .about h2 {
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: 500;
  }
  .main-index .services h2 {
    margin: -1rem 0;
    font-size: 2rem;
    font-weight: 500;
  }
  .main-index .services #carouselExampleCaptions .carousel-inner {
    /* Ajusta el ancho del carrusel */
    margin: auto; /* Centra el carrusel */
  }
  .main-index .services #carouselExampleCaptions .carousel-inner .carousel-item img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center center;
  }
  .main-index .services #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 1.2rem;
  }
  .main-index .services #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption p {
    font-size: 0.8rem;
  }
  .main-terminos div h1 {
    font-weight: 600;
  }
  .main-terminos div h3 {
    font-weight: 600;
    font-size: 1.3rem;
  }
  .main-reserva h1 {
    font-weight: bolder;
    font-size: 1.3rem;
  }
}
@media (max-width: 991px) {
  .main-contacto .contacto {
    padding: 50px;
  }
  .main-contacto .contacto .contenido-contacto h1 {
    font-weight: bolder;
    font-size: 3rem;
  }
  .main-contacto .contacto .contenido-contacto p {
    font-weight: bolder;
    font-size: 1rem;
    color: #f1f1f1;
    background-color: rgba(255, 255, 255, 0);
  }
  .main-contacto .contacto .contacto-contenedor {
    flex-direction: column;
  }
  .main-contacto .contacto .contacto-contenedor .info-contacto {
    margin-bottom: 40px;
  }
  .main-contacto .contacto .contacto-contenedor .info-contacto .box .text h3 {
    font-size: 1.5rem;
  }
  .main-contacto .contacto .contacto-contenedor .info-contacto, .main-contacto .contacto .contacto-contenedor .formulario-contacto {
    width: 100%;
  }
  .main-contacto .contacto .contacto-contenedor .formulario-contacto {
    padding: 5px;
  }
  .main-contacto .contacto .contacto-contenedor .formulario-contacto h2 {
    font-size: 20px;
    color: #000000;
    font-weight: 400;
  }
  .main-contacto .contacto .contacto-contenedor .formulario-contacto .input-box input, .main-contacto .contacto .contacto-contenedor .formulario-contacto .input-box textarea {
    font-size: 16px;
    font-weight: 200;
  }
  .main-contacto .contacto .contacto-contenedor .formulario-contacto input:focus ~ span, .main-contacto .contacto .contacto-contenedor .formulario-contacto input:valid ~ span, .main-contacto .contacto .contacto-contenedor .formulario-contacto textarea:focus ~ span, .main-contacto .contacto .contacto-contenedor .formulario-contacto textarea:valid ~ span {
    font-size: 14px;
  }
}
/*mobile*/
/*desktops*/
@media (min-width: 1024px) {
  * {
    font-size: 24px;
  }
  header nav .container a:hover {
    transform: scale(1.04);
  }
  h1 {
    font-size: 5rem;
    font-weight: 900;
  }
  .main-index .services {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 50px 20px;
    text-align: center;
  }
  .main-index .services h2 {
    margin-bottom: 2rem;
  }
  .main-index .services #carouselExampleCaptions {
    max-width: 80%;
    margin: auto;
  }
  .main-index .services #carouselExampleCaptions .carousel-inner img {
    max-width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center center;
  }
  .gallery h2 {
    font-size: 3em;
  }
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery-grid img {
    max-height: 600px;
    min-height: 25rem;
    width: 100%;
  }
  .body-contacto {
    background: linear-gradient(rgba(0, 0, 0, 0.377), rgba(24, 23, 23, 0.253)), url(https://images.unsplash.com/photo-1558528103-6fe0e98751d4?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
  }
  .main-terminos div h1 {
    font-weight: 900;
  }
  .main-terminos div h3 {
    font-weight: 800;
  }
}
/*desktops*/
/*tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
  * {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 3rem;
  }
  .main-index .about h2 {
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: 500;
  }
  .main-index .services h2 {
    margin: -1rem 0;
    font-size: 2rem;
    font-weight: 500;
  }
  .main-index .services #carouselExampleCaptions .carousel-inner {
    /* Ajusta el ancho del carrusel */
    margin: auto; /* Centra el carrusel */
  }
  .main-index .services #carouselExampleCaptions .carousel-inner .carousel-item img {
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center center;
  }
}
/*tablet*/
/*media queries*/
/*estilos index*/
.body-index {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.9584208683) 30%, rgba(255, 153, 0, 0.4392156863) 70%);
}

.main-index .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1548199973-03cce0bbc87b?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #f1f1f1;
  text-align: center;
  padding: 100px 20px;
  margin-bottom: 2rem;
}
.main-index .hero .hero-components h1 {
  margin-bottom: 20px;
  text-align: center;
}
.main-index .hero .hero-components .cta-button {
  display: inline-block;
  background-color: #ff9800;
  color: #f1f1f1;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
.main-index .hero .hero-components .cta-button:hover {
  background-color: #f1f1f1;
  color: #ff9800;
}
.main-index .hero .hero-components .cta-button:hover:hover {
  transform: scale(1.1);
}
.main-index .about {
  text-align: center;
}
.main-index .about p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1rem;
  padding: 1rem;
}
.main-index .services {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 50px 20px;
  text-align: center;
}
.main-index .services h2 {
  margin-bottom: 2rem;
  font-weight: 800;
}
.main-index .services #carouselExampleCaptions .carousel-inner {
  /* Ajusta el ancho del carrusel */
  margin: auto; /* Centra el carrusel */
}
.main-index .services #carouselExampleCaptions .carousel-inner .carousel-item img {
  filter: brightness(60%);
}
.main-index .services #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h5 {
  color: rgb(255, 255, 255);
}

.gallery h2 {
  text-align: center;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  margin: 1rem;
}
.gallery-grid a {
  position: relative;
  display: inline-block;
}
.gallery-grid a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  opacity: 0;
  transition: opacity 0.3s ease;
}
.gallery-grid a:hover::before {
  opacity: 1;
}
.gallery-grid a::after {
  content: "Ir a Galeria";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff9800;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.gallery-grid a:hover::after {
  opacity: 1;
}
.gallery-grid a:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.gallery-grid img {
  width: 100%;
  height: auto;
  min-height: 600px;
  object-fit: cover;
}

/*estilos index*/
/* estilos galeria*/
.main-galeria {
  background: linear-gradient(rgba(0, 0, 0, 0.377), rgba(24, 23, 23, 0.253)), url(https://images.unsplash.com/photo-1482015527294-7c8203fc9828?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: right;
}
.main-galeria .contenedor-galeria {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.main-galeria .contenedor-galeria .titulo-galeria {
  font-weight: 900;
  text-align: center;
}
.main-galeria .contenedor-galeria .galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.main-galeria .contenedor-galeria .galeria .item-galeria {
  overflow: hidden;
}
.main-galeria .contenedor-galeria .galeria .item-galeria img {
  border-radius: 5%;
  width: 100%;
  height: 100%;
}
.main-galeria .contenedor-galeria .galeria .item-galeria img:hover {
  transform: scale(1.04);
}

/*galeria*/
/*reserva*/
.mb-3 button {
  background-color: black;
  color: #f1f1f1;
}
.mb-3 button:hover {
  transform: scale(1.1);
  background-color: #f1f1f1;
  color: black;
}

.body-reserva {
  background: linear-gradient(0deg, #ff9800 40%, rgba(255, 255, 255, 0.9584208683) 60%);
}

/*reserva*/
/*terminos*/
.body-terminos {
  background: url(https://images.unsplash.com/photo-1603484477859-abe6a73f9366?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.main-terminos div h1 {
  font-size: 3rem;
  font-weight: 800;
}
.main-terminos div h3 {
  font-weight: 800;
}

/*terminos*/
/*contacto*/
.main-contacto {
  background: linear-gradient(rgba(0, 0, 0, 0.377), rgba(24, 23, 23, 0.253)), url(https://images.unsplash.com/photo-1554692936-82776f9406db?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
.main-contacto .animacion, .main-contacto .main-galeria .contenedor-galeria .titulo-galeria, .main-galeria .contenedor-galeria .main-contacto .titulo-galeria, .main-contacto .main-reserva h1, .main-reserva .main-contacto h1 {
  font-weight: 900;
  margin: 0 auto;
  text-align: center;
  width: max-content;
  margin-bottom: 2rem;
  margin-top: 2rem;
  animation-name: primera_animacion;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 5s;
  animation-delay: 0s;
}
.main-contacto section {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-contacto section .contenido-contacto {
  max-width: 50rem;
  text-align: center;
}
.main-contacto section .contenido-contacto p {
  font-weight: 400;
  font-size: 36px;
  color: #f1f1f1;
}
.main-contacto section .contacto-contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.875rem;
}
.main-contacto section .contacto-contenedor .info-contacto {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.main-contacto section .contacto-contenedor .info-contacto .box {
  position: relative;
  padding: 1.25rem 0;
  display: flex;
}
.main-contacto section .contacto-contenedor .info-contacto .box .icon {
  min-width: 2.8rem;
  height: 50px;
  background: rgba(0, 0, 0, 0.368627451);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60%;
  font-size: 22px;
}
.main-contacto section .contacto-contenedor .info-contacto .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #f1f1f1;
  flex-direction: column;
  font-weight: 300;
}
.main-contacto section .contacto-contenedor .info-contacto .box .text h3 {
  font-weight: 500;
  color: #ff9800;
}
.main-contacto section .formulario-contacto {
  width: 40%;
  padding: 40px;
  background: linear-gradient(rgba(255, 255, 255, 0.226), rgba(255, 255, 255, 0.356));
  background-size: cover;
  background-position: center;
}
.main-contacto section .formulario-contacto h2 {
  font-size: 30px;
  color: #000000;
  font-weight: 600;
}
.main-contacto section .formulario-contacto .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.main-contacto section .formulario-contacto .input-box input, .main-contacto section .formulario-contacto .input-box textarea {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
  background-color: rgba(255, 255, 255, 0);
}
.main-contacto section .formulario-contacto .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #000000;
  font-weight: 800;
}
.main-contacto section .formulario-contacto .input-box input:focus ~ span, .main-contacto section .formulario-contacto .input-box input:valid ~ span, .main-contacto section .formulario-contacto .input-box textarea:focus ~ span, .main-contacto section .formulario-contacto .input-box textarea:valid ~ span {
  color: black;
  font-size: 14px;
  transform: translateY(-20px);
}
.main-contacto section .formulario-contacto .input-box input[type=submit] {
  width: 100px;
  background: #ff9800;
  color: black;
  border: none;
  font-size: 18px;
}

@keyframes primera_animacion {
  0% {
    filter: drop-shadow(5px 5px 2px rgb(243, 147, 38));
  }
  25% {
    filter: drop-shadow(5px 5px 2px rgba(243, 147, 38, 0.267));
  }
  50% {
    filter: drop-shadow(5px 5px 2px rgb(243, 147, 38));
  }
  75% {
    filter: drop-shadow(5px 5px 2px rgba(243, 147, 38, 0.267));
  }
  100% {
    filter: drop-shadow(5px 5px 2px rgb(243, 147, 38));
  }
}
.animacion, .main-galeria .contenedor-galeria .titulo-galeria, .main-reserva h1 {
  margin: 0 auto;
  text-align: center;
  width: max-content;
  margin-bottom: 2rem;
  margin-top: 2rem;
  animation-name: primera_animacion;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 5s;
  animation-delay: 0s;
}

/*# sourceMappingURL=styles.css.map */
