/* Media queries para desktop */
@media screen and (min-width: 1024px) {
    * {
      font-size: 24px;
    }
    .gallery-grid {
      grid-template-columns: repeat(3, 1fr);
      img {
        max-height: 600px;
        min-height: 25rem;
        width: 100%;
      }
    }
    .services {
      padding: 50px 20px;
      text-align: center;
    
      h2 {
        margin-bottom: 2rem;
      }
    
      .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    
        .service {
          margin-bottom: 40px;
    
          img {
            width: 100%;
            height: 15rem; /* Establece un alto fijo para todas las imágenes */
            margin-bottom: 2rem;
            border-radius: 1%;
            object-fit: cover; /* Ajusta la imagen para llenar el contenedor */
          }
        }
      }
    }
    
    .gallery h2 {
      font-size: 3em;
    }
    header {
      nav{
          .container{
              a{
                  &:hover{transform: scale(1.04);
              }
          }
      }
      }
  }
  }