.main-index{
    .hero{
        .hero-components{

        }
    }
    .about{
        h2{
            margin: 2rem 0;
            font-size: 2rem;
            font-weight: 500;
        }
        p{
    
        }
    }
    .services{
        h2{
            margin: -1rem 0;
            font-size: 2rem;
            font-weight: 500;
        }
        .servicios{
            .service{
                
            }
        }
    }
}