.main-index{
    .hero{
        .hero-components{
          h1{
            font-size: 2.5rem;
          }
        }
    }
    .about{
        h2{
            margin: 2rem 0;
            font-size: 2rem;
            font-weight: 500;
        }
        p{
    
        }
    }
    .services{
        h2{
            margin: -1rem 0;
            font-size: 2rem;
            font-weight: 500;
        }
            #carouselExampleCaptions{
              .carousel-indicators{
                button{
    
                }
              }
              .carousel-inner{
                margin: auto;
                .carousel-item{
                  img{
                    max-width: 100%; 
                    height: 300px; 
                    object-fit: cover; 
                    object-position: center center; 
                  }
                  .carousel-caption{
                    h5{
                        font-size: 1.2rem;
                    }
                    p{
                        font-size: 0.8rem;
                    }
                  }
                }
              }
            }
        }
    }