.main-contacto{
    .contacto{ 
        padding: 50px;
        .contenido-contacto{
            h1{
            font-weight: bolder;
            font-size: 3rem;
        }
        p{
            font-weight: bolder;
            font-size: 1rem;
            color: $blanco;
            background-color: rgba(255, 255, 255, 0) ;
        }
        }
        .contacto-contenedor{
            flex-direction: column;
            .info-contacto{
                margin-bottom: 40px;
                .box{
                    .text{
                        h3{
                            font-size: 1.5rem;
                        }
                    }
                }
            }
            .info-contacto, .formulario-contacto{
                width: 100%;
            }
            .formulario-contacto{
        padding: 5px;
        
        .input-box{
            input, textarea{
                font-size: 16px;
                font-weight: 200;
            }
            }
            input:focus ~ span, input:valid ~ span, textarea:focus ~ span, textarea:valid ~ span{
                font-size: 14px;
            }
        }
    }
    }
}      