.main-contacto{
    h1{
        margin: 0 auto;
        text-align: center;
        width: max-content;
        margin-bottom: 2rem;
        margin-top: 2rem;
        animation-name: primera_animacion;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 5s;
        animation-delay: 0.5s;
    }
    @import "../components/carrousel";
}