.main-reserva{
    h1{@extend .animacion}
    
}
.mb-3{
    button{
        background-color: black;
        color: $blanco;
        &:hover{transform: scale(1.1);
            background-color: $blanco;
            color: black;
        }
    }
}
.body-reserva{
    background: $background;
}