.main-index{
    .hero{
        .hero-components{
            h1{
        }
        p{

        }
        }
    }
    .about{
        h2{

        }
        p{

        }
    }
    .services {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 50px 20px;
        text-align: center;
        h2 {
            margin-bottom: 2rem;
        }
        #carouselExampleCaptions {
            max-width: 80%; 
            margin: auto; 
            .carousel-inner {
              img {
                max-width: 100%; 
                height: 600px; 
                object-fit: cover; 
                object-position: center center;
              }
            }
          }
            }
          }

.gallery{
    h2{
        font-size: 3em;
    }
} 
.gallery-grid {
    grid-template-columns: repeat(3, 1fr);
    img {
    max-height: 600px;
    min-height: 25rem;
    width: 100%;
    }
}