.gallery-item {
    img {
    height: 31.25rem;
}}
.main-galeria{
    h1{
        font-weight: bolder;
        font-size: 3rem;
    }
}
.main-contacto{
    h1{
        font-weight: bolder;
        font-size: 3rem;
    }
}