.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/index-img/hero-img.avif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: $blanco;
    text-align: center;
    padding: 100px 20px;
    margin-bottom: 2rem;

    .hero-components {
        h1 {
            margin-bottom: 20px;
            text-align: center;
        }

        .cta-button {
            display: inline-block;
            background-color:black;
            color: $blanco;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;

            &:hover {
                background-color: $blanco;
                color: black;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}