.main-index{
    .hero{
        .hero-components{

        }
    }
    .about{
        h2{
            margin: 2rem 0;
        }
        p{
    
        }
    }
    .services{
        h2{
            font-size: 2rem;
        }
            #carouselExampleCaptions{
              .carousel-indicators{
                button{
    
                }
              }
              .carousel-inner{

                margin: auto;
                .carousel-item{
                  img{
                    max-width: 100%;
                    height: 500px; 
                    object-fit: cover;
                    object-position: center center;
                  }
                  .carousel-caption{
                    h5{
                      
                    }
                  }
                }
              }
            }
        }
    }